@model Employee
<h1>Find Employee BY Id</h1>
<form asp-controller="Home" asp-action="Employeebyid"  method="post">
    <label asp-for="Id"></label>
    <input asp-for="Id"/>
    <input type="submit" />
   

</form>

