@model Employee



<pre>
<a asp-controller="Account" asp-action="Register">REGISTER</a>



 
</pre>



































@*@model IEnumerable<Employee> 

        <h2>@{
            foreach(var emp in Model)
            {
                    <div>
                        @emp.Name<br />
                        <img src="~/images/noimage.jpg" style="height:320;width:240"  /><br />

                        <a asp-controller="Home" asp-action="Details" asp-route-id="@emp.Id">VIEW</a>

                    </div>
            }


        }</h2>*@

