@model LoginViewModel

<h1>User Login</h1>



<form method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    
    <button type="submit">Login</button>
</form>
