@model RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

<h1>User Registration</h1>


    
        <form method="post">
                <label asp-for="Email"></label>
                <input asp-for="Email"  />
                <span asp-validation-for="Email" ></span>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" ></span>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
            <button type="submit">Register</button>
        </form>
    
